In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# from earth_quake_predictor.plotting import my_plotting_function
# my_plotting_function()

## Exploratory Data Analysis (EDA)

In this section, we perform Exploratory Data Analysis (EDA) on the Palmer Penguins dataset to understand its structure and characteristics. The primary goals of this analysis are to:

1. **Explore Data Structure**: Examine the datasetâ€™s dimensions, column names, and data types.
2. **Summarize Statistics**: Calculate and review summary statistics for numerical and categorical features.
3. **Visualize Distributions**: Use histograms, box plots, and scatter plots to analyze the distribution of features and identify patterns or outliers.
4. **Analyze Relationships**: Investigate correlations and relationships between different features to understand their interactions.
5. **Identify Data Quality Issues**: Detect and address missing values, inconsistencies, or anomalies in the dataset.

This analysis will provide foundational insights that will guide feature engineering and model selection for classifying penguin species.

### Import Libraries and Load Data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('../data/raw/penguins_size.csv')
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [5]:
from palmer_penguin_classifier.explanatory_analysis import show_table
# from ../palmer_penguin_classifier/explanatory_analysis.py import show_table
show_table(df)

ModuleNotFoundError: No module named 'palmer_penguin_classifier'

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [7]:
df.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000